@charset "UTF-8";
.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .navbar {
  background-color: #222;
  color: #fff;
}

.dark-mode .btn {
  background-color: #555;
  color: #fff;
}
.inner-container{
	border: 1px solid #fff;
	padding: 3px;
}

img {
	height: 200px;
	width: 200px;
}
